@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: "Montserrat", sans-serif;
}

/* body{
  overflow: hidden;
} */

h1,
section,
p,
span,
svg{
  transition: background-color 0.5s, color 0.5s;
}

:root{
  /* Light Theme Variables */
  --color-text-light: #333332;
  --color-button-light: #ffffff; 
  --color-background-light: #eae8e0;
  --color-pink-light: #b1adf762; 
  --color-green-light: #7AD0AC;
  --color-blue-light: #8395CD;

  /* Dark Theme Variables */
  --color-text-dark: #FAF4E5;
  --color-background-dark: #8395CD;
  --color-button-dark: #000000;
}

.light-theme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light);
  --color-button: var(--color-button-light)
}

.dark-theme{
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-pink: var(--color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
  --color-button: var(--color-button-dark)
}

/* Experience --------------------------------------------- */

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}

/* Preloader */
.preloader{
  background-color: var(--color-background-light);
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999;
}

.preloader-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: var(--color-pink-light);
  animation: load 1s ease-in-out infinite;
}

.circle:nth-child(2){
  animation-delay: 0.1s;
}

.circle:nth-child(3){
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-12px)
  }

  40% {
    transform: translateY(0)
  }
  
}

/* Page Itself --------------------------------------------- */
.page{
  z-index:99999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-wrapper{
  position: relative;
}

/* Preloader Stuff */
.animatedis{
  display: inline-block;
  transform: translateY(100%);
}

.intro-text{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text);
  transform: translate(-50%, -50%);
}

.arrow-svg-wrapper{
  position: absolute;
  top: 90%;
  left: 50%;
  opacity: 0;
  color: var(--color-text);
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}

@keyframes bounce {
  0%{
    transform: translateY(0)
  }

  100%{
    transform: translateY(8px)
  }
}

/* Toggle Bar --------------------------------------------- */
.toggle-bar{
  position: fixed;
  display: flex;
  opacity: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 99999999999999;
}

.sun-wrapper, 
.moon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.toggle-button{
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle{
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
  transform: scale(0.9);
}

.slide{
  left: 31px;
}

.accept-button{
  height: 200px;
  width: 100%;
  position: relative;
  background-color: var(--color-background-light);
  opacity: 80%;
  top: calc(50% - 100px );
  text-align: center;
  display: block;
  border-radius: 50px;
}

.immagine {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  border-radius: 11px;
}

.immagine-due{
  margin-top: 10px;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  border-radius: 11px;
  border-style: solid;
}

.separatore{
  height: 10px;
  width: 100%;
  background-color: #000000;
}

.click-here-bt{
height: 55px;
width: 250px;
border-radius: 30px;
border-width: 1px;
font-size: 17px;
background-color: DodgerBlue;
border: none;
color: white;
padding: 12px 30px;
cursor: pointer;
margin-top: -45px;
display: flex;
align-items: center; 
justify-content: center;
margin-top: -35px;

}



.click-here-bt:hover{
  scale: 0.9;
}

.chbt{
width: 100%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.bottone{
  height: 40%;
  width: 40%;
  margin: 10px;
  position: relative;
  top: 50px;
  border-style: solid;
  border-radius: 50px;
  border-width: 3px;
  background-color: var(--color-bac);
  color: var(--color-text-light);
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  align-items: center;
}

.bottone:hover{
  animation: wiggle 0.5s linear infinite;
  background-color: #a39999;
}

.web3-wallet{
  display: flex;
  justify-content: center;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}



.welcome-text{
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.8;
  color:var(--color-text);
  position: relative;
  left: 10px;
  top: calc( 50% - 20px);
}

/* Section Formatting --------------------------------------------- */
.section-margin{
  height: 3000px;
  width: 100%;
}

.section{
  position: relative;
  width: 50%;
  padding: 50px 8%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left{
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right{
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

/* Progress bars */
.progress-wrapper{
  height: 0;
  width: 12px;
  z-index: 9999;
}

.progress-bar-wrapper-left{
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right{
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar{
  height: 100vh;
  width: 100%;
  background-color: var(--color-pink);
  transform-origin: top center;
  transform: scaleY(1);
}

/* Sections -------------- */

.section-intro-wrapper{
  position: relative;
  padding: 0% 5%;
  border-bottom: 2px solid var(--color-pink);
  padding-bottom: 40px;
}

.section-intro-wrapper:nth-child(3){
  border-bottom: 2px solid var(--color-green);
}

.section-detail-wrapper{
  position: relative;
  padding: 0px 0px;
  text-align: justify;
}

.section-heading{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
  color: var(--color-text);
  display: flex;
  justify-content: center;
}

.illustration-one{
display: flex;
justify-content: center;
scale: 0.8;
margin-top: -50px ;
}

.illustration-two{
display: flex;
justify-content: center;
scale: 1.1;
margin-top: 65px ;
}

.illustration-three{
  display: flex;
  justify-content: center;
  scale: 0.9;
  margin-top: 65px ;
  }


.section-text-one{
  font-size: 23px;
  font-weight: 100;
  line-height: 1.8;
  margin-bottom: 50px;
  margin-top: 5px;
  color:var(--color-text);
  text-align: jusity;
}

.section-heading-two{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 15px;
  color: var(--color-text);
}

.section-heading-three{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 15px;
  color: var(--color-text);
  text-align: center;
}

.section-listing{
  width: 500px;
  height: 300px;
  display: inline-block;
  position: relative;
  left: calc(50% - 200px);
}


.section-listing-costs{
    width: 300px;
    height: 345px;
    display: inline-block;
    position: relative;
    left: calc(50% - 150px);
    margin-bottom: 50px;
    text-align: center;
    font-weight: 400;
    border-radius: 15px;
    background-color: #0000000e;
  }

.section-list{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 15px;
  color: var(--color-text);
  display: flex;
  justify-content: center;
}

.section-text{
  line-height: 2;
  margin-top: 10px;
  font-size: 16px;
  color: var(--color-text);
}

.section-text-list{
  line-height: 2;
  margin-top: 10px;
  font-size: 16px;
  color: var(--color-text);
}

.web3{
border-radius: 35px;
}

.item-listing{
  line-height: 2;
  margin-top: 10px;
  font-size: 16px;
  color: var(--color-text);
  display: list-item;
  justify-content: center;
}

/* Fancy Decoration Part of Section */
.section-title{
  position: relative;
  color: var(--color-pink)
}

.section-title-text{
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(0deg);
  z-index: 5;
  text-transform: uppercase;
  color: var(--color-pink);
}

.section-text-three {
  font-size: 23px;
  font-weight: 100;
  line-height: 1.8;
  margin-bottom: 50px;
  margin-top: 5px;
  color:var(--color-text);
  text-align: center;
}

.styleOne,
.styleTwo,
.styleThree{
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-pink);
  transform-origin: left;
  transform: skewY(-25deg);
}

.styleOne{
  top: 0px;
}

.styleTwo{
  top: 80px;
}

.styleThree{
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-pink);
}

.section-number{
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-pink);
  font-size: 24px;
}


/* Hero section -------------------------------- */

.hero{
  width: 100vw;
  height: 100vh;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main{
  position: absolute;
  bottom: 168px;
  left: 0;
  color: var(--color-text);
}

.hero-second{
  position: absolute;
  top: calc(50% - 120px);
  right: 0;
  color: var(--color-text);
}

.hero-main-title{
  font-size: 64px;
  color: var(--color-text);
}

.hero-main-description{
  font-size: 18px;
  color: var(--color-text);
}

.hero-second-subheading{
  font-size: 32px;
  text-transform: uppercase;
  color: var(--color-text);
}

.hero-motion{
  position: absolute;
  bottom: -1250px;
  left: calc(50% - 115px);
  scale: 6.7;
  color: var(--color-text);
  padding: 0px 0px;
}

.hero-motion-description{
  font-size: 18px;
  color: var(--color-text);
  text-align: center;
}

/* Other colors override */

.blue-text{
  color: var(--color-blue)
}

.blue-border{
  border-color: var(--color-blue);
}

.blue-background{
  background-color: var(--color-blue);
}

.green-text{
  color: var(--color-green)
}

.green-border{
  border-color: var(--color-green);
}

.green-background{
  background-color: var(--color-green);
}


/* Image Slider */




/* Media Queries */

@media (max-width: 968px){
  .section{
    width: 100%;
  }
  .progress-bar-wrapper-left{
    right: 0;
    left: auto;
  }
  .hero-main{
    bottom: 120px;
  }
  .hero-second{
    top: 160px;
  }
  .hero-wrapper{
    width: calc(100% - 60px);
  }
  .hero-main-title{
    font-size: 32px;
  }
  .hero-main-description{
    font-size: 18px;
  }
  .hero-second-subheading{
    font-size: 18px;
  }
  .hero-motion{
    position: absolute;
    bottom: -1250px;
    left: calc(50% - 55px);
    scale: 3.75;
    color: var(--color-text);
  }
  .illustration-one{
    scale: 0.8;
    margin-top: -60px;
    margin-bottom: -50px;
  }

  .illustration-two{
    scale: 0.9;
    margin-top: -10px;
    margin-bottom: -50px;
  }

  .accept-button{
    height: 400px;
    width: 100%;
    top: calc(50% - 250px );
    border-style: solid;
  }
  .bottone{

  }

  .section-text-three{
    margin-top: 40px;
  }

  .section-heading{
    text-align: center;
  }

  .section-listing{
    width: 300px;
    left: calc(50% - 150px);
    scale: 0.9;
  }
}

.language_buttons_div {
  display: inline;
  flex-direction: row;
}

.language_buttons {
  background-color: #d6d2bf56;
  border: none;
  border-radius: 3px;
  width: 35%;
  height: 56%;
  margin: 0;


}

/*NAV BAR */
/* Navbar section */


.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
  z-index: 9999999999999999;
}

.nav div.logo {
  width: 100%;
  margin-left: 1rem;
  text-align: start;
}

.nav div.logo a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.8em;
  text-transform: uppercase;
}

.nav div.logo a:hover {
  color: #c0c0c0;
}

.nav div.main_list {
  width: 600px;
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
}

.nav div.main_list ul li {
  width: 120px;
  height: 65px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: var(--color-text);
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.main_list ul li a:hover {
  color: #c0c0c0;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  ;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span {
  width: 98%;
  height: 1px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}

#theme_controls {
  display: flex;
  width: 190px;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  scale: 0.65;
}

/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .container {
    margin: 0;
  }

}




@media screen and (max-width:768px) {

  .container {
    margin: 0;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    margin-top: 65px;
    height: 0px;
    overflow: hidden;
  }

  .nav div.show_list {
    height: 250px;
    width: 20rem;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 20px;
    top: 80px;
    right: 0;
    left: 0;
  }

  .nav div.main_list ul li {
    width: 100%;
    height: 100px;
    background-color: var(--color-background);
    opacity: 1;
  }

  .nav div.main_list ul li a {
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 40px;
    display: table;
  }

  .nav div.media_button {
    display: block;
  }

  #theme_controls {
    margin: 0 auto;
    width: 135px;
    display: flex;
    flex-direction: row;
  }

  .language_buttons_div {
    display: inline;
    flex-direction: row;
    align-content: center;
  }

  .language_buttons {
    height: 30px;
  }
}






